body{
    display: block;
    text-align: center;
    margin: 0;
    color: whitesmoke;  
    font-family: Arial, Helvetica, sans-serif;
}

/* Add background to hero section */
#hero-section{
    display: flex;
    flex-direction: column;
    background-image: url(images/Melbourne\ CBD.jpg);
    background-size: cover;
    width: auto;
    height: 300px;
    align-items: center;
    padding-top: 100px;
}

.hero-btn{
    display: flex;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 4px;

}

#hero-title{
    background: #1D3557;
}

#hero-text{
    background: #457B9D;;
}

#activities-title{
    margin: 0 0 40px 0;
    padding-top: 40px;
}
#activities-section{
    background: #F1FAEE;
    color: #1D3557;
    
}

#activities-container{
    display: flex;
    justify-content: space-around;
}

.activities-item{
    width: 250px;
}

.activities-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.activity-title{
    font-weight: bold;
}
#guide-section-container{
    display: flex;
    justify-content: space-around;
    color: #1D3557;
    width: auto;
    background: #a8dadc;
    width: 800px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 40px;
    height: 500px;

}

.guide-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 500px;
}

#guide-img{
    border-radius: 10px;
    width: 400px;
    height: 500px;
}

